@charset "utf-8";
@media screen and (max-width: 767px) {



/*==================================================

login
==================================================*/

#login {
	position: relative;
	left: auto;
	top: auto;
	transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	width: auto;
	margin: 80px 24px;
	padding: 24px;
}